* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

footer {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.container {
  display: flex;
  flex: 1;
  margin-top: 60px; /* altura del header */
  margin-bottom: 50px; /* altura del footer */
}

nav {
  width: 200px;
  background-color: #f4f4f4;
  padding: 1rem;
  border-right: 1px solid #ccc;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1rem;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.header-content {
  display: table;
  width: 100%;
}

.header-content .left,
.header-content .center,
.header-content .right {
  display: table-cell;
  vertical-align: middle;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  overflow-y: auto;
}

.card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.card h2 {
  text-align: center;
  margin-bottom: 1rem;
}

.card input[type="text"],
.card input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.card input[type="submit"] {
  width: 100%;
  padding: 0.5rem;
  margin-top: 1rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error-message {
  color: red;
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  font-family: sans-serif;
  font-size: 0.95rem;
}

thead {
  background-color: #f4f4f4;
}

th,
td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f0f8ff;
}

th {
  font-weight: bold;
  color: #333;
}

td {
  color: #555;
}
